@mixin flexProperty($justifyContent,$alignItems,$flexDirection){
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-direction: $flexDirection;
}

/*global variables*/
$baseColor: #ffffff;
$baseColorHover: #BFC6BB;
$backgroundColorHover: #56664E;

.header{
    // border: 1px solid white;
    border-radius: 8px;
    width: 100%;
    height: 70px;
    transition: .7s;
    @include flexProperty(space-between,center,row);

    .logo{
        font-family: "demano",Helvetica, sans-serif;
        margin-left: 30px;
        user-select: none;
        cursor: pointer;
    }
    .navbar{
        position: relative;
        top: 0;
        left: 0;
        @include flexProperty(center,center,row);

        .ham-burger{
            // display: none;
            cursor: pointer;
            @include flexProperty(center,center,row);
            font-size: 24px;
            font-weight: 800;
            padding: 10px;
            text-align: center;
            margin-right: 20px;
            transform: rotate(90deg);
            transition: .5s;
    
            &:hover{
             transform: scale(1.01);
             margin-top: -15px;       

            }
            span{
                // display: none;
                margin-right: 2px;
                transform: .5s;
            }
        }    
    }
    .menu{
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        overflow: hidden;
        z-index: 10;
        transition: 1s;
        transform-origin: top;
        visibility: hidden;
        opacity: 0;
        transform: translateZ(20px) scaleY(0);
        backdrop-filter: blur(30px);
        background-color: rgba(0, 0, 0, 0.6);

        
        .close-btn{
            float: right;
            font-weight: 600;
            font-size: 44px;
            padding: 10px;
            margin:0px 20px 0 0;
            transition: .5s;
            cursor: pointer;

            &:hover{
                transform: rotate(90deg);
                color: $baseColorHover;
            }
        }

        ul{
            text-align: center;
            width: 100%;
            text-transform: uppercase;

            li{
                position: relative;
                top: 100px;
                display: block;
                list-style: none;
                margin: 30px;
                transition: .5s;
                padding: 25px 30px;
                cursor: pointer;
                font-family: sans-serif;

                &:hover{
                    color: #BFC6BB;
                    transform:scale(2);
                    opacity:1;

                    &::before{
                        transition:transform 0.5s;
                        transform-origin:left;
                        transform:scaleX(1);
                    }
                }

                &::before{
                    content:'';
                    position:absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height:100%;
                    background:$backgroundColorHover;
                    transition:0.5s;
                    transform-origin:right;
                    transform:scaleX(0);
                    z-index:-1;
                }
            }
        }
    }
    
    .open-menu{
        opacity: 1;
        visibility: visible;
        transform: translateZ(20px) scaleY(1);
    }
}