@mixin flexProperty($justifyContent,$alignItems,$flexDirection){
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-direction: $flexDirection;
}
.home-content{
    width: 100%;
    height: 90%;
    // border: 2px solid white;
    @include flexProperty(center,center,row);

    .home-details{
        width: 40%;
        margin: 20px;
        // border: 1px solid white;

        h2{
            letter-spacing: 1px;
            margin: 0 0 20px 0;
        }
        p{
            text-align: justify;
        }
    }
    .photo{
        width: 300px;
        height: 300px;

        img {
            --m: radial-gradient(circle farthest-side at right,#000 99%,#0000) 0 100%/46% 92% no-repeat, radial-gradient(circle farthest-side at left ,#000 99%,#0000) 100% 0/46% 92% no-repeat;
            -webkit-mask: var(--m);
            mask: var(--m);
            filter: grayscale(.5);
            width: 100%;
            height: 100%;
            transition: .3s linear;
            cursor: pointer;
            &:hover {
                -webkit-mask-position: 7.5% 50%,92.5% 50%;
                mask-position: 7.5% 50%,92.5% 50%;
                filter: grayscale(0);
            }
        }
    }
}

@media screen and (max-width:768px){
    .home-content{
        flex-direction: column-reverse;
        h2{
            text-align: center;
        }
        p{
            width: auto;
            text-align: center;
        }
    }
}

@media screen and (max-width:425px) {
    .home-details{
        width: 80%;
    }
    .photo{
        width: 250px;
        height: 250px;
    }
}


